a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover{
  color:rgb(0, 45, 112)
}

body {
    margin: 0;
    padding: 0;
}

/*---------------------MAP START------------------ */
.mapboxgl-map{
  width: 100%;
  height: 100vh;
}

/*----------------------MAP END------------------- */

/*---------------------NAVBAR START--------------- */
.navbar{
  display: flex !important;
  background-color: rgb(91, 109, 130);
  justify-content: space-around !important;
  align-items: center; /* align vertical */
  color: white;
}
/*---------------------NAVBAR END--------------- */

/*If the screen is at least 600px then, */
@media(min-width: 600px) {
  /* Run this code*/
  .mapboxgl-map{
      width: 100%;
      height: 100vh;
    }

}